.spinner {
  position:absolute;
  width: 52.8px;
  height: 52.8px;
  left: 50%;
  top: 35%;
  perspective: 105.6px;
}

.spinner div {
  width: 100%;
  height: 100%;
  background: #525288;
  position: absolute;
  left: 50%;
  transform-origin: left;
  animation: spinner-16s03x 2.4s infinite;


}

.spinner div:nth-child(1) {
  Animation-delay: 0.18s;
}

.spinner div:nth-child(2) {
  Animation-delay: 0.36s;
}

.spinner div:nth-child(3) {
  Animation-delay: 0.54s;
}

.spinner div:nth-child(4) {
  Animation-delay: 0.72s;
}

.spinner div:nth-child(5) {
  animation-delay: 0.8999999999999999s;
}

@keyframes spinner-16s03x {
  0% {
     transform: rotateY(0deg);
  }

  50%, 80% {
     transform: rotateY(-180deg);
  }

  90%, 100% {
     opacity: 0;
     transform: rotateY(-180deg);
  }
}
